$baseRows: (
	row1540: 1540px,
	row1480: 1480px,
	row1270: 1270px,
	row1170: 1170px,
	row: 1140px,
);

$spaces: (
	//Margins
	m-space: 40px 0,
	m-space-md: 60px 0,
	m-space-xl: 80px 0,
	m-space-lg: 100px 0,
	//Paddings
	p-space: 40px 0,
	p-space-md: 60px 0,
	p-space-xl: 80px 0,
	p-space-lg: 100px 0
);

%baseRowStyles {
	margin: 0 auto;
	max-width: 94%;
	position: relative;
}

@each $name, $val in $baseRows {
	.#{$name} {
		@extend %baseRowStyles;
		width: #{$val};
	}
}

@each $name, $val in $spaces {
	.#{$name} {
		@if str-index($name, 'p-') == 1 {
			padding: #{$val};
		} @else if str-index($name, 'm-') == 1 {
			margin: #{$val};
		}
	}
}
