@import '_mixins';
//web page width
$md: 960px;
$sm: 768px;
$xs: 480px;
//main color
$a: #ff5757;
//second color
$b: #0080ff;
//link color
$link: $a;
// button color
$btn: $a;

$border: #cccccc;
$text: #333333;
$menu: $a;

$inputH: 40px;

//social media color
$facebook: #3b5993;
$twitter: #55acee;
$instagram: #181818;
$linkedin: #0177b5;
$youtube: #f80000;
$pinterest: #bd081c;
$vimeo: #1bb7ea;
$google_plus: #dd4c39;
$yelp: #d32323;

/* FONTS
   ========================================================================== */
//custom icon fonts
// @include declare-font('font-name', 'font-layout', font-weight, font-style);
$font: 'Montserrat', sans-serif;

//Montserrat Font
// @include declare-font('Montserrat', 'Montserrat-Bold', 700);
// @include declare-font('Montserrat', 'Montserrat-SemiBold', 600);
// @include declare-font('Montserrat', 'Montserrat-Medium', 500);
// @include declare-font('Montserrat', 'Montserrat-Regular', 400);

/* MAIN  FILES
   ========================================================================== */
@import 'components/_abstract';
@import 'components/reset';
@import 'components/flex';
@import 'components/global';
@import 'components/header';
@import 'components/footer';
