@import 'components/code';
/* FONTS
 ========================================================================== */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff") format('woff'), url("../fonts/Montserrat-Bold.woff2") format('woff2');
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat-SemiBold.woff") format('woff'), url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.woff") format('woff'), url("../fonts/Montserrat-Medium.woff2") format('woff2');
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.woff2") format('woff2');
}
@font-face {
  font-family: "Questrial";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Questrial-Regular.woff") format('woff'), url("../fonts/Questrial-Regular.woff2") format('woff2');
}
/* MAIN  FILES
 ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: auto;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}
body ::-moz-selection {
  background: #ff5757;
  color: #fff;
}
body ::selection {
  background: #ff5757;
  color: #fff;
}
#wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
mark {
  background: none;
}
/* ==========================================================================
 FORMS & TABLE & NAVIGATION
 ========================================================================== */
input, textarea, select {
  outline: 0 none;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type='text'], input[type='number'], input[type='email'], input[type='password'], input[type='search'], input[type='tel'], textarea {
  border: 1px solid #e1e1e1;
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 40px;
  padding: 0 5px 0 10px;
  width: 100%;
}
input[type='text']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder, input[type='search']::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #4c4c4c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 1;
}
input[type='text']::-moz-placeholder, input[type='number']::-moz-placeholder, input[type='email']::-moz-placeholder, input[type='password']::-moz-placeholder, input[type='search']::-moz-placeholder, input[type='tel']::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #4c4c4c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 1;
}
input[type='text']:-ms-input-placeholder, input[type='number']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder, input[type='search']:-ms-input-placeholder, input[type='tel']:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #4c4c4c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 1;
}
input[type='text']:focus, input[type='number']:focus, input[type='email']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, textarea:focus {
  border-color: #ff5757;
}
textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}
button[disabled], html input[disabled] {
  cursor: default;
}
input[type='search'], input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
 TYPOGRAPHY
 ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Questrial', sans-serif;
}
h1 {
  font-size: 60px;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  font-size: 40px;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}
h3 {
  font-size: 36px;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 26px;
  }
}
h4 {
  font-size: 24px;
}
@media (max-width: 768px) {
  h4 {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  h4 {
    font-size: 20px;
  }
}
p {
  padding-bottom: 20px;
  line-height: 1.5;
  font-size: 18px;
}
@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}
a {
  color: #ff5757;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  outline: 0;
  text-decoration: underline;
}
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
strong, b {
  font-weight: 700;
}
i {
  font-style: normal;
}
@media screen and (min-width: 1140px) {
  ::-webkit-scrollbar {
    width: 13px;
  }
  ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ff5757;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff3e3e;
  }
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.flex.h_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.flex.v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.flex.vh-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
[class*='col-'] {
  width: 100%;
}
.col-1 {
  -webkit-flex-basis: 5.5833333333%;
  -moz-flex-basis: 5.5833333333%;
  -ms-flex-basis: 5.5833333333%;
  flex-basis: 5.5833333333%;
}
.col-2 {
  -webkit-flex-basis: 14.1666666667%;
  -moz-flex-basis: 14.1666666667%;
  -ms-flex-basis: 14.1666666667%;
  flex-basis: 14.1666666667%;
}
.col-3 {
  -webkit-flex-basis: 22.75%;
  -moz-flex-basis: 22.75%;
  -ms-flex-basis: 22.75%;
  flex-basis: 22.75%;
}
.col-4 {
  -webkit-flex-basis: 31.3333333333%;
  -moz-flex-basis: 31.3333333333%;
  -ms-flex-basis: 31.3333333333%;
  flex-basis: 31.3333333333%;
}
.col-5 {
  -webkit-flex-basis: 39.9166666667%;
  -moz-flex-basis: 39.9166666667%;
  -ms-flex-basis: 39.9166666667%;
  flex-basis: 39.9166666667%;
}
.col-6 {
  -webkit-flex-basis: 48.5%;
  -moz-flex-basis: 48.5%;
  -ms-flex-basis: 48.5%;
  flex-basis: 48.5%;
}
.col-7 {
  -webkit-flex-basis: 57.0833333333%;
  -moz-flex-basis: 57.0833333333%;
  -ms-flex-basis: 57.0833333333%;
  flex-basis: 57.0833333333%;
}
.col-8 {
  -webkit-flex-basis: 65.6666666667%;
  -moz-flex-basis: 65.6666666667%;
  -ms-flex-basis: 65.6666666667%;
  flex-basis: 65.6666666667%;
}
.col-9 {
  -webkit-flex-basis: 74.25%;
  -moz-flex-basis: 74.25%;
  -ms-flex-basis: 74.25%;
  flex-basis: 74.25%;
}
.col-10 {
  -webkit-flex-basis: 82.8333333333%;
  -moz-flex-basis: 82.8333333333%;
  -ms-flex-basis: 82.8333333333%;
  flex-basis: 82.8333333333%;
}
.col-11 {
  -webkit-flex-basis: 91.4166666667%;
  -moz-flex-basis: 91.4166666667%;
  -ms-flex-basis: 91.4166666667%;
  flex-basis: 91.4166666667%;
}
.col-12 {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
.col-50 {
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}
@media (max-width: 960px) {
  .md-1 {
    -webkit-flex-basis: 5.5833333333%;
    -moz-flex-basis: 5.5833333333%;
    -ms-flex-basis: 5.5833333333%;
    flex-basis: 5.5833333333%;
  }
  .md-2 {
    -webkit-flex-basis: 14.1666666667%;
    -moz-flex-basis: 14.1666666667%;
    -ms-flex-basis: 14.1666666667%;
    flex-basis: 14.1666666667%;
  }
  .md-3 {
    -webkit-flex-basis: 22.75%;
    -moz-flex-basis: 22.75%;
    -ms-flex-basis: 22.75%;
    flex-basis: 22.75%;
  }
  .md-4 {
    -webkit-flex-basis: 31.3333333333%;
    -moz-flex-basis: 31.3333333333%;
    -ms-flex-basis: 31.3333333333%;
    flex-basis: 31.3333333333%;
  }
  .md-5 {
    -webkit-flex-basis: 39.9166666667%;
    -moz-flex-basis: 39.9166666667%;
    -ms-flex-basis: 39.9166666667%;
    flex-basis: 39.9166666667%;
  }
  .md-6 {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-basis: 48.5%;
    flex-basis: 48.5%;
  }
  .md-7 {
    -webkit-flex-basis: 57.0833333333%;
    -moz-flex-basis: 57.0833333333%;
    -ms-flex-basis: 57.0833333333%;
    flex-basis: 57.0833333333%;
  }
  .md-8 {
    -webkit-flex-basis: 65.6666666667%;
    -moz-flex-basis: 65.6666666667%;
    -ms-flex-basis: 65.6666666667%;
    flex-basis: 65.6666666667%;
  }
  .md-9 {
    -webkit-flex-basis: 74.25%;
    -moz-flex-basis: 74.25%;
    -ms-flex-basis: 74.25%;
    flex-basis: 74.25%;
  }
  .md-10 {
    -webkit-flex-basis: 82.8333333333%;
    -moz-flex-basis: 82.8333333333%;
    -ms-flex-basis: 82.8333333333%;
    flex-basis: 82.8333333333%;
  }
  .md-11 {
    -webkit-flex-basis: 91.4166666667%;
    -moz-flex-basis: 91.4166666667%;
    -ms-flex-basis: 91.4166666667%;
    flex-basis: 91.4166666667%;
  }
  .md-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
  .md-bottom {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .sm-1 {
    -webkit-flex-basis: 5.5833333333%;
    -moz-flex-basis: 5.5833333333%;
    -ms-flex-basis: 5.5833333333%;
    flex-basis: 5.5833333333%;
  }
  .sm-2 {
    -webkit-flex-basis: 14.1666666667%;
    -moz-flex-basis: 14.1666666667%;
    -ms-flex-basis: 14.1666666667%;
    flex-basis: 14.1666666667%;
  }
  .sm-3 {
    -webkit-flex-basis: 22.75%;
    -moz-flex-basis: 22.75%;
    -ms-flex-basis: 22.75%;
    flex-basis: 22.75%;
  }
  .sm-4 {
    -webkit-flex-basis: 31.3333333333%;
    -moz-flex-basis: 31.3333333333%;
    -ms-flex-basis: 31.3333333333%;
    flex-basis: 31.3333333333%;
  }
  .sm-5 {
    -webkit-flex-basis: 39.9166666667%;
    -moz-flex-basis: 39.9166666667%;
    -ms-flex-basis: 39.9166666667%;
    flex-basis: 39.9166666667%;
  }
  .sm-6 {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-basis: 48.5%;
    flex-basis: 48.5%;
  }
  .sm-7 {
    -webkit-flex-basis: 57.0833333333%;
    -moz-flex-basis: 57.0833333333%;
    -ms-flex-basis: 57.0833333333%;
    flex-basis: 57.0833333333%;
  }
  .sm-8 {
    -webkit-flex-basis: 65.6666666667%;
    -moz-flex-basis: 65.6666666667%;
    -ms-flex-basis: 65.6666666667%;
    flex-basis: 65.6666666667%;
  }
  .sm-9 {
    -webkit-flex-basis: 74.25%;
    -moz-flex-basis: 74.25%;
    -ms-flex-basis: 74.25%;
    flex-basis: 74.25%;
  }
  .sm-10 {
    -webkit-flex-basis: 82.8333333333%;
    -moz-flex-basis: 82.8333333333%;
    -ms-flex-basis: 82.8333333333%;
    flex-basis: 82.8333333333%;
  }
  .sm-11 {
    -webkit-flex-basis: 91.4166666667%;
    -moz-flex-basis: 91.4166666667%;
    -ms-flex-basis: 91.4166666667%;
    flex-basis: 91.4166666667%;
  }
  .sm-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
  .sm-bottom {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .xs-1 {
    -webkit-flex-basis: 5.5833333333%;
    -moz-flex-basis: 5.5833333333%;
    -ms-flex-basis: 5.5833333333%;
    flex-basis: 5.5833333333%;
  }
  .xs-2 {
    -webkit-flex-basis: 14.1666666667%;
    -moz-flex-basis: 14.1666666667%;
    -ms-flex-basis: 14.1666666667%;
    flex-basis: 14.1666666667%;
  }
  .xs-3 {
    -webkit-flex-basis: 22.75%;
    -moz-flex-basis: 22.75%;
    -ms-flex-basis: 22.75%;
    flex-basis: 22.75%;
  }
  .xs-4 {
    -webkit-flex-basis: 31.3333333333%;
    -moz-flex-basis: 31.3333333333%;
    -ms-flex-basis: 31.3333333333%;
    flex-basis: 31.3333333333%;
  }
  .xs-5 {
    -webkit-flex-basis: 39.9166666667%;
    -moz-flex-basis: 39.9166666667%;
    -ms-flex-basis: 39.9166666667%;
    flex-basis: 39.9166666667%;
  }
  .xs-6 {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-basis: 48.5%;
    flex-basis: 48.5%;
  }
  .xs-7 {
    -webkit-flex-basis: 57.0833333333%;
    -moz-flex-basis: 57.0833333333%;
    -ms-flex-basis: 57.0833333333%;
    flex-basis: 57.0833333333%;
  }
  .xs-8 {
    -webkit-flex-basis: 65.6666666667%;
    -moz-flex-basis: 65.6666666667%;
    -ms-flex-basis: 65.6666666667%;
    flex-basis: 65.6666666667%;
  }
  .xs-9 {
    -webkit-flex-basis: 74.25%;
    -moz-flex-basis: 74.25%;
    -ms-flex-basis: 74.25%;
    flex-basis: 74.25%;
  }
  .xs-10 {
    -webkit-flex-basis: 82.8333333333%;
    -moz-flex-basis: 82.8333333333%;
    -ms-flex-basis: 82.8333333333%;
    flex-basis: 82.8333333333%;
  }
  .xs-11 {
    -webkit-flex-basis: 91.4166666667%;
    -moz-flex-basis: 91.4166666667%;
    -ms-flex-basis: 91.4166666667%;
    flex-basis: 91.4166666667%;
  }
  .xs-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
  .xs-bottom {
    margin-bottom: 15px;
  }
}
/* ==========================================================================
 HELPERS
 ========================================================================== */
.wrap {
  margin: 0 auto;
  width: 1140px;
  max-width: 94%;
  position: relative;
}
.row1540 {
  margin: 0 auto;
  width: 1540px;
  max-width: 96%;
  position: relative;
}
#content {
  padding: 40px 0;
}
@media (max-width: 1140px) {
  #content {
    padding: 20px 0;
  }
}
#wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 1980px;
  margin: 0 auto;
  overflow: hidden;
}
.c {
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
}
.cfx:after, .cfx:before {
  display: table;
  clear: both;
  content: ' ';
}
.bg-center {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.underline {
  position: relative;
  display: inline-block;
}
.underline:after {
  display: block;
  width: 0;
  height: 1px;
  margin: auto;
  content: '';
  transition: width 0.5s ease, background-color 0.5s ease;
  background: transparent;
}
.underline:hover:after {
  width: 100%;
  background: #ff5757;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: 0;
  background: #ff5757;
  appearance: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }
}
.btn:hover {
  background: #ff2e2e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn:active {
  background: #ff0b0b;
}
/* ==========================================================================
 WORDPRESS DEFAULT CLASSES
 ========================================================================== */
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.wp-caption {
  margin: 10px;
  padding-top: 4px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f3f3f3;
}
.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/* ==========================================================================
 WYSIWYG
 ========================================================================== */
.wysiwyg h1 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.wysiwyg p {
  font-size: 15px;
  line-height: 1.4;
  padding-bottom: 20px;
  word-break: break-word;
}
.wysiwyg ul {
  margin-left: 30px;
  padding-bottom: 20px;
}
.wysiwyg ul li {
  line-height: 1.4;
}
/* ==========================================================================
 FULL FRAME
 ========================================================================== */
.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0;
}
.fullframe iframe, .fullframe object, .fullframe embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
/* ==========================================================================
 CONTACT FORM 7
 ========================================================================== */
.wpcf7 {
  width: 100%;
}
.wpcf7 .screen-reader-response {
  display: none;
}
.wpcf7 .wpcf7-form.invalid .wpcf7-response-output {
  display: block;
}
.wpcf7 .wpcf7-form.sent .wpcf7-response-output {
  display: block;
  background: #16a085;
}
.wpcf7 .wpcf7-not-valid-tip {
  font: 500 16px/1 'Montserrat', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ff5f5f;
  background: #eee;
}
.wpcf7 .wpcf7-response-output {
  display: none;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  color: white;
  background: #ff5f5f;
}
.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng {
  background: #1091ae;
}
.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok {
  background: #16a085;
}
.wpcf7 .wpcf7-form-control-wrap {
  position: relative;
  display: block !important;
}
div.wpcf7 .ajax-loader {
  visibility: hidden;
  display: inline-block;
  background-image: url(../img/ajax-loader.gif);
  width: 16px;
  height: 16px;
  border: none;
  margin: 0 0 0 4px;
  vertical-align: middle;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
div.wpcf7 form.submitting .ajax-loader {
  visibility: visible;
}
/* ==========================================================================
 SOCIAL LINK
 ========================================================================== */
.s-link {
  font-size: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  text-align: center;
}
.s-link a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  color: #fff;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.s-link a:before {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.s-link a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.s-link a.fa-facebook:hover {
  background: #3b5993;
}
.s-link a.fa-twitter:hover {
  background: #55acee;
}
.s-link a.fa-instagram:hover {
  background: #181818;
}
.s-link a.fa-linkedin:hover {
  background: #0177b5;
}
.s-link a.fa-youtube:hover {
  background: #f80000;
}
.s-link a.fa-pinterest:hover {
  background: #bd081c;
}
.s-link a.fa-vimeo:hover {
  background: #1bb7ea;
}
.s-link a.fa-yelp:hover {
  background: #d32323;
}
.s-link a.fa-google-plus:hover {
  background: #dd4c39;
}
/* ==========================================================================
 index-style
 ========================================================================== */
.index-style .post-item {
  margin-bottom: 20px;
}
.index-style .post-title {
  font-size: 18px;
  display: block;
  padding-bottom: 15px;
}
.index-style .post-title:hover {
  color: #0080ff;
}
.index-style .post-thumbnail {
  min-height: 160px;
  will-change: opacity;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.index-style .post-thumbnail:hover {
  opacity: 0.9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.wp-pagenavi {
  font-size: 0;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.wp-pagenavi a, .wp-pagenavi span {
  font-size: 14px;
  margin: 0 3px;
  padding: 3px 5px;
}
.wp-pagenavi a {
  border: 1px solid #ccc;
}
.wp-pagenavi .current, .wp-pagenavi a:hover {
  color: #fff;
  border-color: #ff5757;
  background: #ff5757;
}
#top {
  min-height: 500px;
  text-align: center;
  color: #fff;
}
#top h1 {
  font-size: 60px;
}
.menu-burger {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 101;
  cursor: pointer;
  border-radius: 4px;
}
@media (max-width: 960px) {
  .menu-burger {
    display: block;
  }
}
.menu-burger:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 10px);
  height: 2px;
  background: #333;
  -webkit-box-shadow: 0 7px 0 0 #333, 0 -7px 0 0 #333;
  box-shadow: 0 7px 0 0 #333, 0 -7px 0 0 #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-burger:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 10px);
  height: 2px;
  background: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-burger.open:before {
  -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
  -moz-transform: translate(-50%, -50%) rotateZ(-45deg);
  -ms-transform: translate(-50%, -50%) rotateZ(-45deg);
  transform: translate(-50%, -50%) rotateZ(-45deg);
  box-shadow: none;
  background: #fff;
}
.menu-burger.open:after {
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
  -moz-transform: translate(-50%, -50%) rotateZ(45deg);
  -ms-transform: translate(-50%, -50%) rotateZ(45deg);
  transform: translate(-50%, -50%) rotateZ(45deg);
  background: #fff;
}
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 480px;
  height: 100vh;
  background: #ff5757;
  z-index: 100;
  padding: 50px 0 0;
  overflow: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  display: none;
}
@media (max-width: 1140px) {
  .mobile-main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .mobile-main-menu {
    width: 100%;
    max-width: 100%;
  }
}
.mobile-main-menu .desktop-hide {
  display: none;
}
@media (max-width: 600px) {
  .mobile-main-menu .desktop-hide {
    display: block;
  }
}
.mobile-main-menu .menu-btn-wrapper {
  padding: 10px;
}
.mobile-main-menu .menu-btn-wrapper .btn {
  font-size: 14px;
  margin-right: 10px;
}
.mobile-main-menu .menu-btn-wrapper .btn:last-child {
  margin-right: 0;
}
.mobile-main-menu li a {
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
}
.mobile-main-menu li a:hover {
  text-decoration: none;
}
.mobile-main-menu .sub-menu {
  display: none;
  padding-left: 20px;
}
.mobile-main-menu span {
  display: inline-block;
  padding: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-main-menu .arrow {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-main-menu .arrow path {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-main-menu .arrow.active {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.mobile-main-menu.open {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.desctop_hide {
  display: none;
}
@media (max-width: 1140px) {
  /* resp_menu_active
   ========================================================================== */
  .mobile_hide {
    display: none;
  }
  .desctop_hide {
    display: block;
  }
  .mobile_menu_container {
    font-size: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 80%;
    max-width: 480px;
    height: 100vh;
    padding: 5px;
    border-top: 40px solid #ff2424;
    border-bottom: 3px solid #ff2424;
    background: #ff5757;
    will-change: transform, opacity;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile_menu_container nav {
    margin-bottom: 40px;
  }
  .mobile_menu_container li {
    position: relative;
  }
  .mobile_menu_container a {
    z-index: 10;
    display: block;
  }
  .mobile_menu_container a:hover {
    text-decoration: none;
  }
  .mobile_menu_container .sub-anchor {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background: #ff7171;
  }
  .mobile_menu_container .sub-anchor:hover {
    background: #ff3e3e;
  }
  .mobile_menu_container .sub-anchor:before {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .mobile_menu_container .sub-menu {
    display: none;
  }
  .mobile_menu_container .sub-menu a {
    font-size: 13px;
    padding: 10px 30px;
    color: #fff;
  }
  .mobile_menu_container .sub-menu a:hover {
    background: #ff8a8a;
  }
  .mobile_menu_container .sub-menu .sub-menu {
    display: none;
    padding-left: 10px;
  }
  .mobile_menu_container .level_a > li {
    border-bottom: 1px solid #ff7171;
  }
  .mobile_menu_container .level_a > li > a {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding-left: 20px;
    color: #fff;
  }
  .mobile_menu_container .level_a > li > a:hover {
    background: #ff7171;
  }
  .mobile_menu_active {
    overflow: hidden;
  }
  .mobile_menu_active:before {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile_menu_active .burger {
    position: fixed;
  }
  .mobile_menu_active .burger span {
    position: relative;
    z-index: 101;
  }
  .mobile_menu_active .mobile_menu_container {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 1140px) and (max-width: 768px) {
  .mobile_menu_container {
    width: 100%;
    max-width: 100%;
  }
}
.alignleft {
  float: left;
  margin: 0 30px 10px 0;
}
.alignright {
  float: right;
  margin: 0 0 10px 30px;
}
.aligncenter {
  margin: 0 auto 20px;
}
.alignnone {
  margin: 0 0 20px;
}
.block-center {
  text-align: center;
  position: relative;
}
@media (max-width: 1024px) {
  .alignleft, .aligncenter, .alignright {
    float: none;
    margin: 0 auto 20px;
  }
  .alignnone {
    margin: 0 0 20px;
  }
}
/* ==========================================================================
 HEADER
 ========================================================================== */
header {
  position: relative;
  z-index: 10;
  padding: 35px 0;
  will-change: transform, opacity;
}
@media (max-width: 1280px) {
  header {
    padding: 20px 0;
  }
}
header .icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  grid-gap: 20px;
}
@media (max-width: 1200px) {
  header .icons {
    grid-gap: 10px;
  }
}
header .icons .icon {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-basis: 24px;
  -moz-flex-basis: 24px;
  -ms-flex-basis: 24px;
  flex-basis: 24px;
  width: 24px;
}
header .icons .icon:hover i {
  color: #ff5757;
}
header .icons .icon:hover svg path {
  fill: #ff5757;
}
header .icons .icon i {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 19px;
  color: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .icons .icon img, header .icons .icon svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
header .icons .icon img path, header .icons .icon svg path {
  fill: #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .icons .icon .search-form {
  position: absolute;
  right: -18px;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  padding: 0 10px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}
header .icons .icon .search-form.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
header .icons .menu-burger {
  display: none;
}
@media (max-width: 1140px) {
  header .icons .menu-burger {
    display: block;
  }
}
header #logo {
  opacity: 1;
  color: #181818;
  -webkit-flex-basis: 400px;
  -moz-flex-basis: 400px;
  -ms-flex-basis: 400px;
  flex-basis: 400px;
  max-width: 400px;
}
@media (max-width: 1480px) {
  header #logo {
    -webkit-flex-basis: 350px;
    -moz-flex-basis: 350px;
    -ms-flex-basis: 350px;
    flex-basis: 350px;
    max-width: 350px;
  }
}
@media (max-width: 1280px) {
  header #logo {
    -webkit-flex-basis: 280px;
    -moz-flex-basis: 280px;
    -ms-flex-basis: 280px;
    flex-basis: 280px;
    max-width: 280px;
  }
}
header #logo img, header #logo svg {
  max-width: 100%;
}
header #logo:hover {
  opacity: 0.8;
}
/* ==========================================================================
 Main Navigation
 ========================================================================== */
.main_nav {
  font-size: 0;
}
.main_nav * {
  line-height: 1;
}
.main_nav a {
  display: block;
}
.main_nav a:hover {
  text-decoration: none;
}
.main_nav .level_a {
  position: relative;
}
.main_nav .level_a li {
  position: relative;
  z-index: 0;
  display: inline-block;
}
.main_nav .level_a > li > a {
  font-size: 18px;
  padding: 5px 20px;
  color: rgba(51, 51, 51, 0.7);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
@media (max-width: 1480px) {
  .main_nav .level_a > li > a {
    font-size: 16px;
  }
}
@media (max-width: 1180px) {
  .main_nav .level_a > li > a {
    font-size: 14px;
  }
}
.main_nav .level_a > li.current-menu-item > a, .main_nav .level_a > li:hover > a {
  color: #ff5757;
}
.main_nav .level_a > li.menu-item-has-children:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  content: '';
}
.main_nav .level_a > li.menu-item-has-children:hover > .sub-menu {
  display: block;
}
.main_nav .level_a > li > .sub-menu {
  position: absolute;
  z-index: 100;
  display: none;
  width: 220px;
  margin-top: 27px;
  padding: 10px 0;
  border-top: 3px solid #ff8a8a;
  border-bottom: 3px solid #ff8a8a;
  background: #ff5757;
}
.main_nav .level_a > li > .sub-menu .sub-menu {
  display: block;
  padding-left: 10px;
}
.main_nav .level_a > li > .sub-menu li {
  display: block;
  list-style-type: none;
}
.main_nav .level_a > li > .sub-menu a {
  font-size: 13px;
  line-height: 1.3;
  padding: 3px 15px;
  color: #fff;
}
.main_nav .level_a > li > .sub-menu a:hover {
  text-decoration: none;
  background: #ffbdbd;
}
/* ==========================================================================
 FOOTER
 ========================================================================== */
footer {
  padding: 20px 0;
  background: #212122;
  color: #fff;
}
