//---------------------------------------- Static Data ---------------------------------------------
$gap-factor: 5;
$gap-count: 25;
//Project Static Containers List
$baseRows: (
	row1540: 1540px,
	row1480: 1480px,
	row1270: 1270px,
	row1200: 1200px,
	row1170: 1170px,
	row: 1140px,
);
//Grids Classes
$grids: (
	grid-2: repeat(2, 1fr),
	grid-3: repeat(3, 1fr),
	grid-4: repeat(4, 1fr),
	grid-5: repeat(5, 1fr),
);
//Project Static Section Spaces List
$spaces: (
	//Margins
	m-space-sm: 20px 0,
	m-space: 40px 0,
	m-space-md: 60px 0,
	m-space-xl: 80px 0,
	m-space-lg: 100px 0,
	//Paddings
	p-space-sm: 20px 0,
	p-space: 40px 0,
	p-space-md: 60px 0,
	p-space-xl: 80px 0,
	p-space-lg: 100px 0
);
//----------------------------------------------------------------------------------------------
//--------------------------------------- Static Shared Styles ---------------------------------
//Static Constant Styles For Grids
%baseGridStyles {
	display: grid;
}
//Static Constant Styles For Container
%baseRowStyles {
	margin: 0 auto;
	max-width: 94%;
	position: relative;
}
//----------------------------------------------------------------------------------------------
//--------------------------------------- Ganarate Classes -------------------------------------
//Generate Gaps For Grid Classes
@for $i from 1 through $gap-count {
	.gap-#{$i} {
		gap: #{$gap-factor * $i}px;
	}
}
//Generate Grid Classe From Grids
@each $name, $val in $grids {
	.#{$name} {
		@extend %baseGridStyles;
		grid-template-columns: #{$val};
	}
}
//Generate Containers Classes From Containers List
@each $name, $val in $baseRows {
	.#{$name} {
		@extend %baseRowStyles;
		width: #{$val};
	}
}
//Generate Space Classes For Sections (with responsive)
@each $name, $val in $spaces {
	.#{$name} {
		@if str-index($name, 'p-') == 1 {
			padding: #{$val};
		} @else if str-index($name, 'm-') == 1 {
			margin: #{$val};
		}

		@if str-index($name, 'md') {
			@include for-size(576px) {
				@if str-index($name, 'p-') == 1 {
					padding: 40px 0;
				} @else if str-index($name, 'm-') == 1 {
					margin: 40px 0;
				}
			}
		}

		@if str-index($name, 'xl') {
			@include for-size(768px) {
				@if str-index($name, 'p-') == 1 {
					padding: 60px 0;
				} @else if str-index($name, 'm-') == 1 {
					margin: 60px 0;
				}
			}
			@include for-size(576px) {
				@if str-index($name, 'p-') == 1 {
					padding: 40px 0;
				} @else if str-index($name, 'm-') == 1 {
					margin: 40px 0;
				}
			}
		}

		@if str-index($name, 'lg') {
			@include for-size(1024px) {
				@if str-index($name, 'p-') == 1 {
					padding: 80px 0;
				} @else if str-index($name, 'm-') == 1 {
					margin: 80px 0;
				}
			}
			@include for-size(768px) {
				@if str-index($name, 'p-') == 1 {
					padding: 60px 0;
				} @else if str-index($name, 'm-') == 1 {
					margin: 60px 0;
				}
			}
			@include for-size(576px) {
				@if str-index($name, 'p-') == 1 {
					padding: 40px 0;
				} @else if str-index($name, 'm-') == 1 {
					margin: 40px 0;
				}
			}
		}
	}
}
//----------------------------------------------------------------------------------------------
