/* ==========================================================================
   HELPERS
   ========================================================================== */
$baseRows: (
	row1280: 1280px,
	row1070: 1070px,
	row: 1140px,
);

@each $name, $val in $baseRows {
	.#{$name} {
		margin: 0 auto;
		width: #{$val};
		max-width: 94%;
		position: relative;
	}
}

#content {
	padding: 40px 0;
	@include for-size(1140px) {
		padding: 20px 0;
	}
}
#wrap {
	position: relative;
	width: 100%;
	min-height: 100%;
	max-width: 1980px;
	margin: 0 auto;
	overflow-x: clip;
}
.c {
	font-size: 0;
	line-height: 0;
	display: block;
	clear: both;
	overflow: hidden;
}
.cfx {
	&:after,
	&:before {
		display: table;
		clear: both;
		content: ' ';
	}
}
.bg-center {
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.underline {
	position: relative;
	display: inline-block;
	&:after {
		display: block;
		width: 0;
		height: 1px;
		margin: auto;
		content: '';
		transition: width 0.5s ease, background-color 0.5s ease;
		background: transparent;
	}
	&:hover:after {
		width: 100%;
		background: $link;
	}
}
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
}
.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.btn {
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	outline: 0;
	background: $btn;
	appearance: none;
	@include transition(all, 0.4s, ease);
	@include for-size(sm) {
		font-size: 14px;
		padding: 10px 15px;
	}
	&:hover {
		background: darken($btn, 8%);
		@include shadow(2);
	}
	&:active {
		background: darken($btn, 15%);
	}
}
/* ==========================================================================
   WORDPRESS DEFAULT CLASSES
   ========================================================================== */
.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.wp-caption {
	margin: 10px;
	padding-top: 4px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 3px;
	background-color: #f3f3f3;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
/* ==========================================================================
   WYSIWYG
   ========================================================================== */
.wys {
	ul {
		margin-left: 30px;
		padding-bottom: 20px;
		li {
			line-height: 1.4;
		}
	}
}
/* ==========================================================================
   FULL FRAME
   ========================================================================== */
.fullframe {
	height: 0;
	margin: 0;
	overflow: hidden;
	padding-bottom: 56.5%;
	position: relative;
	z-index: 0;
	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}
/* ==========================================================================
   CONTACT FORM 7
   ========================================================================== */
.wpcf7 {
	width: 100%;
	.screen-reader-response {
		display: none;
	}
	.wpcf7-form.invalid {
		.wpcf7-response-output {
			display: block;
		}
	}
	.wpcf7-form.sent {
		.wpcf7-response-output {
			display: block;
			background: #16a085;
		}
	}
	.wpcf7-not-valid-tip {
		font: 500 16px/1 $font;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		height: $inputH;
		line-height: $inputH;
		text-align: center;
		color: #ff5f5f;
		background: #eeeeee;
	}
	.wpcf7-response-output {
		display: none;
		width: 100%;
		max-width: 300px;
		margin: 20px auto;
		padding: 15px 20px;
		cursor: pointer;
		text-align: center;
		color: white;
		background: #ff5f5f;
		&.wpcf7-mail-sent-ng {
			background: #1091ae;
		}
		&.wpcf7-mail-sent-ok {
			background: #16a085;
		}
	}
	.wpcf7-form-control-wrap {
		position: relative;
		display: block !important;
	}
}
div.wpcf7 .wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-image: url(../img/ajax-loader.gif);
	width: 16px;
	height: 16px;
	border: none;
	margin: 0 0 0 4px;
	vertical-align: middle;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 50%;
	margin-left: 10px;
	position: absolute;
	top: 50%;
	@include transform(translate(0, -50%));
}
div.wpcf7 form.submitting .wpcf7-spinner {
	visibility: visible;
}

/* ==========================================================================
   SOCIAL LINK
   ========================================================================== */
.some {
	.fa {
		display: inline-block;
		font: var(--fa-font-brands);
		width: auto;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		text-decoration: none;
	}
}

.s-link {
	font-size: 0;
	display: inline-block;
	width: auto;
	cursor: pointer;
	text-align: center;
	a {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 0 2px;
		color: #ffffff;
		border-radius: 50%;
		@include transform(translate3d(0, 0, 0));
		@include transition(all, 0.5s, cubic-bezier(0.165, 0.84, 0.44, 1));
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		&:before {
			font-size: 18px;
			color: #0080ff;
			@include center();
			@include transition();
		}
		&.fa-facebook {
			&:hover {
				&:before {
					color: $facebook !important;
				}
			}
		}
		&.fa-twitter {
			&:hover {
				&:before {
					color: $twitter !important;
				}
			}
		}
		&.fa-instagram {
			&:hover {
				&:before {
					color: $instagram !important;
				}
			}
		}
		&.fa-linkedin {
			&:hover {
				&:before {
					color: $linkedin !important;
				}
			}
		}
		&.fa-youtube {
			&:hover {
				&:before {
					color: $youtube !important;
				}
			}
		}
		&.fa-youtube-play {
			&:hover {
				&:before {
					color: $youtube !important;
				}
			}
		}
		&.fa-pinterest {
			&:hover {
				&:before {
					color: $pinterest !important;
				}
			}
		}
		&.fa-vimeo {
			&:hover {
				&:before {
					color: $vimeo !important;
				}
			}
		}
		&.fa-yelp {
			&:hover {
				&:before {
					color: $yelp !important;
				}
			}
		}
		&.fa-google-plus {
			&:hover {
				&:before {
					color: $google_plus !important;
				}
			}
		}
	}
}
/* ==========================================================================
   index-style
   ========================================================================== */
.index-style {
	.post-item {
		margin-bottom: 20px;
	}
	.post-title {
		font-size: 18px;
		display: block;
		padding-bottom: 15px;
		&:hover {
			color: $b;
		}
	}
	.post-thumbnail {
		min-height: 160px;
		will-change: opacity;
		@include shadow(1);
		&:hover {
			opacity: 0.9;
			@include shadow(2);
		}
	}
}
.wp-pagenavi {
	font-size: 0;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid $border;
	a,
	span {
		font-size: 14px;
		margin: 0 3px;
		padding: 3px 5px;
	}
	a {
		border: 1px solid $border;
	}
	.current,
	a:hover {
		color: #ffffff;
		border-color: $a;
		background: $a;
	}
}

#top {
	min-height: 500px;
}

$lineColor: #333;
.menu-burger {
	display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 101;
	cursor: pointer;
	border-radius: 4px;
	@include for-size(1140px) {
		display: block;
	}
	// background: $a;
	&:before {
		content: '';
		@include center();
		width: calc(100% - 10px);
		height: 2px;
		background: $lineColor;
		-webkit-box-shadow: 0 7px 0 0 $lineColor, 0 -7px 0 0 $lineColor;
		box-shadow: 0 7px 0 0 $lineColor, 0 -7px 0 0 $lineColor;
		@include transition();
	}

	&:after {
		content: '';
		@include center();
		width: calc(100% - 10px);
		height: 2px;
		background: $lineColor;
		@include transition();
	}

	&.open {
		&:before {
			@include transform(translate(-50%, -50%) rotateZ(-45deg));
			box-shadow: none;
			background: #fff;
		}

		&:after {
			@include transform(translate(-50%, -50%) rotateZ(45deg));
			background: #fff;
		}
	}
}

.mobile-main-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	max-width: 480px;
	height: 100vh;
	background: $a;
	z-index: 100;
	padding: 50px 0 0;
	overflow: auto;
	@include transition();
	@include transform(translateX(100%));
	display: none;
	@include for-size(1140px) {
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(space-between);
	}
	@include for-size(768px) {
		width: 100%;
		max-width: 100%;
	}
	.desktop-hide {
		display: none;
		@include for-size(600px) {
			display: block;
		}
	}
	.menu-btn-wrapper {
		padding: 10px;
		.btn {
			font-size: 14px;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	li {
		a {
			display: inline-block;
			padding: 5px 15px;
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.sub-menu {
		display: none;
		padding-left: 20px;
	}

	span {
		display: inline-block;
		padding: 5px;
		color: #fff;
		@include transition();
	}

	.arrow {
		display: inline-block;
		height: 18px;
		width: 18px;
		vertical-align: middle;
		@include transition();

		path {
			color: #fff;
			@include transition();
		}

		&.active {
			@include transform(rotateZ(90deg));
		}
	}

	&.open {
		@include transform(translateX(0%));
	}
}

.mobile_menu_active {
	overflow: hidden;
}

.desctop_hide {
	display: none;
}
@include for-size(row) {
	.mobile_hide {
		display: none;
	}
	.desctop_hide {
		display: block;
	}
}

.alignleft {
	float: left;
	margin: 0 30px 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 30px;
}

.aligncenter {
	margin: 0 auto 20px;
}

.alignnone {
	margin: 0 0 20px;
}

.block-center {
	text-align: center;
	position: relative;
}

@include for-size(1024px) {
	.alignleft,
	.aligncenter,
	.alignright {
		float: none;
		margin: 0 auto 20px;
	}

	.alignnone {
		margin: 0 0 20px;
	}
}

.numbered_pagination {
	position: relative;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	a,
	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		text-decoration: none;
		border-radius: 5px;
		font-size: 18px;
		color: #1d1d1d;
		svg {
			path {
				@include transition();
			}
		}
		&.current {
			background-color: $a;
			color: #fff;
		}
		&:hover {
			background-color: $a;
			color: #fff;
			&.next,
			&.prev {
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
		&.dots,
		&.next,
		&.prev {
			color: #1d1d1d;
			border-bottom: 1px solid transparent;
		}
	}
}
